*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Inter", "Montserrat", "Roboto", sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  font-style: normal;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}
